@include mq(sm) {
    .invoice-view {
       padding: (1rem * 3) !important;
    }

    .invoice-actions {
        flex-direction: row;
        justify-content: flex-end;

        #converterBtn {
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }

    .invoice-actions-wrap {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        .language-switcher {
            order: 1;
        }

        .invoice-actions {
            order: 2;
        }
    }
}