/* Media Query Sm */
/* Semantic UI variables */
/* Colors */
/* Breakpoints for media queries */
/* Paddings and Margins */
/* Media Query */
/* Displays */
/* Converter SM */
@media screen and (min-width: 768px) {
  .converter__inputs {
    flex-direction: row;
  }

  .converter__input {
    flex: 45%;
  }

  .converter__button {
    width: auto;
  }
}
/* Invoice SM */
@media screen and (min-width: 768px) {
  .invoice-view {
    padding: 3rem !important;
  }

  .invoice-actions {
    justify-content: flex-end;
  }

  .invoice-actions-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
  .invoice-actions-wrap .language-switcher {
    order: 1;
  }
  .invoice-actions-wrap .invoice-actions {
    order: 2;
  }
}
/* Language Switcher SM */
@media screen and (min-width: 768px) {
  .language-switcher {
    margin-top: 0;
    text-align: left;
  }
}
/* Site Header SM */
@media screen and (min-width: 768px) {
  .site-logo,
.site-search {
    opacity: 1 !important;
  }

  .site-search .site-search__form {
    display: block;
    flex-basis: 100%;
  }
  .site-search .site-search__icon {
    display: none;
  }

  .site-search__mobile,
.site-search__mobile.active {
    opacity: 0;
  }
}
/* Table SM */
@media screen and (min-width: 768px) {
  .ui.table [class*="right aligned"] {
    text-align: right !important;
  }
}