.invoice-view {
    @extend .px-2;
    @extend .py-2;
}

.invoice-view__calling-code {
    max-width: 100px;
}

.ui.table tr.invoice-items__header {
    &--desktop {
        display: none !important;
    }

    &--mobile {
        display: block !important;

        th {
            padding: 15px !important;
        }
    }
}

.invoice-item {
    position: relative;
}

.invoice-item__delete-btn {

    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;

    i {
        margin: 0 !important;
    }
}

.invoice-items__quantity {
    width: 100px;
}

.invoice-items__price {
    width: 200px;
}

.invoice-items__amount {
    min-width: 140px;
}

.invoice-item__delete-btn {
    cursor: pointer;
    margin-right: -7px !important;
    margin-left: 7px !important;
    transition: all .2s ease-in;

    &:hover {
        color: map-get($colors, 'red-1');
    }
}

.invoice-summary__row {
    display: flex;
    justify-content: space-between;
    padding: 0.78571429em 0.78571429em;
}

.invoice-summary__total {
    background-color: map-get($colors, 'grey-4');
}

.invoice-actions-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    .invoice-actions {
        order: 1;
    }

    .language-switcher {
        order: 2;
    }
}

.invoice-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #converterBtn {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}